/_build
/deps
/cover
/exdoc
erl_crash.dump
*.ez

# Exact dependencies of testgear are determined per-solomon-instance so not globally shareable
mix.lock

# Persist SOLOMON_INSTANCE_DEP in local filesystem
/.env
